* {
    margin: 0rem;
    padding: 0rem; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mediumorchid;
    min-height: 100vh;
    font-family: 'roboto';
}

.container {
    padding: 1rem;
    width: 30rem;
    background-color: azure;
    border:0.2rem solid gainsboro;
    border-radius: 0.5rem;
}
select{
    border: 0.3rem solid blueviolet;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 100%;
    font-size: large;
}
.segment{
    display: none;
}

 
  @media screen and (min-width:780px) {
    select{
        display: none;
    }

    input {
        display: none;
      }
    .segment{
        display: flex;
        padding: 0.1rem;
    }
      
    label{
        border: 0.2rem solid blueviolet;
        text-align: center;
        cursor: pointer;
        padding: 1rem;
    }
    label:first-of-type{
        border-right:none;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    label:last-of-type{
        border-left: none;
       border-radius: 0 0.5rem 0.5rem 0;
    }
    label:hover{
        background:darkorchid;
    }
    input[type="radio"]:checked + label {
        background-color: blueviolet;
        color: white;
    }
    input[type="radio"] {
        display: none;
    }
 }
